<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singn up</title>
</head>
<body>
    {% if error %}
            <h1>Username Already Taken</h1>
    {% endif %}
    <form action="{{ route }}" method="POST">

        <input type="text" name="firstname" placeholder="Firstname" id="first_name" required>
        <input type="text" name="lastname" placeholder="Lastname" id="last_name" required>

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Signup</button>
    </form>
</body>
</html>